<div class="bg-body border rounded-3" style="<%= card_styles %>"<% if @alert %> role="alert"<% end %>>
  <div class="text-body-secondary" style="<%= label_styles %>"><%= @label %></div>
  <div class="<%= value_class %>" style="<%= value_styles %>"><%= @value %></div>
  <% if show_trend? %>
    <div class="<%= trend_class %>" style="<%= trend_styles %>">
      <% if trend_icon %>
        <i class="bi <%= trend_icon %>" aria-hidden="true"></i>
      <% end %>
      <%= @trend_text %>
    </div>
  <% end %>
</div>
